<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Great Basin Tree Service</title>
</head>
<body>
    <h1>Index Page</h1>
    <button id="myButton" style="background-color:rgb(69, 69, 95);" type="button">Click Me!</button>
    
    <script>
        // JavaScript code to handle the button click event
        document.getElementById("myButton").addEventListener("click", function() {
            alert("Button clicked!");
            // You can perform additional actions here
        });
    </script>
</body>
</html>
