{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Inventory {% endblock %}</h1>
    <table>
    <div class="col-md-8">
        <table id="example" class="tb" style="width:100%">
            <thead>
                <tr>
                    <td>Product ID</td>
                    <td>Product Cost</td>
                    <td>Quantity</td>
                    <td>Company Name</td>
                    <td>SKU</td>
                    <td>Product Name</td>
                </tr>
            </thead>
            <tbody>
                {% for inventory in inventory %}
                <tr>
                    <td>{{inventory.product_id}}</td>
                    <td>{{inventory.product_cost}}</td>
                    <td>{{inventory.quantity}}
                        <form method="POST" action="/inventory">
                            <div>
                                <input type="hidden" name="row_id" value="{{ inventory.sku }}">
                                <label for="quantity">Updated Quantity</label>
                                <input type="number" name="quantity" id="quantity" required>
                                <button class="btn btn-success float-right" type="submit">Update</button>
                            </div>
                        </form>
                    </td>
                    <td>{{inventory.company_name}}</td>
                    <td>{{inventory.sku}}</td>
                    <td>{{inventory.product_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>
{% endblock %}